<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>...png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>..png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{10,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{10,32}</string>
            </dict>
            <key>timeup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,632},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,497},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,415},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,390},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,366},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,398},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,342},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,398},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,318},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{382,97}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,294},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,302},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,306},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,310},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,314},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-292}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,608},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,318},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,322},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,299},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-267}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,583},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,559},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,681},{384,83}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,328},{384,83}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,596},{384,83}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,331},{384,83}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,766},{384,81}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,336},{384,81}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,200},{382,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,315},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,398},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,535},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{382,97}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,262},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,101},{382,97}}</string>
                <key>offset</key>
                <string>{-1,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,209},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{382,97}}</string>
                <key>offset</key>
                <string>{-1,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{382,97}}</string>
                <key>offset</key>
                <string>{-1,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{382,97}}</string>
                <key>offset</key>
                <string>{-1,264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,36},{1,1}}</string>
                <key>offset</key>
                <string>{-191.5,364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,398},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,511},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,487},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,463},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
            <key>timeup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,497},{382,97}}</string>
                <key>offset</key>
                <string>{-1,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,439},{382,97}}</string>
                <key>sourceSize</key>
                <string>{384,729}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timeup.png</string>
            <key>size</key>
            <string>{849,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f038e50f0dbbb7a8fc996bb3ce4a2bf9$</string>
            <key>textureFileName</key>
            <string>timeup.png</string>
        </dict>
    </dict>
</plist>
