<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_brown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,463},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,529},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,595},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,661},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_none_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,727},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_sky_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,793},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_sky_dust_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{67,417},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_sky_dust_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,451},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_sky_dust_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{67,453},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,859},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_yellow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,925},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{67,165},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{67,131},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{67,199},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{67,233},{32,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{67,369},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{67,335},{32,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{67,267},{32,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{67,301},{32,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dust_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,435},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dust_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,417},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dust_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{67,435},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{67,45},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{67,88},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{67,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{110,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6538d7c04a3058fd8ff44507cf9a95a:0a07e17e85d8e39a9056e4f606e56362:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
