<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>...png</key>
            <dict>
                <key>frame</key>
                <string>{{620,772},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>..png</key>
            <dict>
                <key>frame</key>
                <string>{{818,580},{10,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{10,32}</string>
            </dict>
            <key>pang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,838},{40,30}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,110},{40,30}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{198,206}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{198,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{212,220}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{212,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,600},{152,170}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{152,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,402},{156,176}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{156,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,418},{146,180}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{146,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,216},{148,184}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{148,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,204},{152,188}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,40},{152,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,224},{154,192}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{154,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,640},{156,196}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,40},{156,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,452},{158,198}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,42},{158,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,720},{66,48}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,104},{66,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,224},{160,202}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{160,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,660},{164,204}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,44},{164,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{136,208}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{136,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,428},{134,210}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{134,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{56,212}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,48},{56,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,652},{30,216}}</string>
                <key>offset</key>
                <string>{33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,48},{30,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,652},{30,216}}</string>
                <key>offset</key>
                <string>{34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,51},{30,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,418},{30,220}}</string>
                <key>offset</key>
                <string>{34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,51},{30,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,230},{30,220}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,54},{30,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,402},{22,82}}</string>
                <key>offset</key>
                <string>{30,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,150},{22,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,772},{90,80}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,91},{90,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,428},{20,20}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,153},{20,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,720},{110,110}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,78},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,580},{132,138}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,67},{132,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{180,188}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{180,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{210,220}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{210,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{192,200}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{192,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>pang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,226}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{216,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pang.png</string>
            <key>size</key>
            <string>{870,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4584542b3e0df42578313303f690d6b$</string>
            <key>textureFileName</key>
            <string>pang.png</string>
        </dict>
    </dict>
</plist>
